*{
    background-color: rgb(216, 201, 167);
    
}
#head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#button{
    background-color: #2d2e7e;
    border: double;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}